setuptools~=60.7
SQLAlchemy~=1.4
PyYAML~=6.0
py-cord @ git+https://github.com/Pycord-Development/pycord.git@master
aiohttp~=3.8
sentry-sdk~=1.5
aenum~=3.1
aioredis~=2.0
asyncpg~=0.25
aiomysql~=0.0.22
